* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/thumb-1920-70172.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

nav {
    overflow: hidden;
}

nav ul {
    list-style: none;
}
nav ul li {
    float: right;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    color: blanchedalmond;
    margin: 10px;
    display: block;
    list-style: none;
    font-family: Impact;
}

nav ul li a:hover{
    background: rgba(82, 77, 77, 0.293);
    color:rgba(253, 80, 0, 0.769);
    cursor: pointer;
}

#contenido h1{
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 50px;
    top: 200px;
    left: 0;
    right: 0;
    position: absolute;
    background: rgba(43, 40, 40, 0.293);
    color: blueviolet;
}
footer{
    height: 300px;
    line-height: 300px;
    text-align: right;
    font-size: 10px;
    top: 350px;
    position: absolute;
    color: white;
    
}