* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/551124.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.todo{
    width: 100%;
    margin-left: 0px;
    margin-top: -142px;
    transition: 2s;
}
.titulo {
    display: inline-block;
    width: 5%;
}
.titulo h1{
    height: 50px;
    line-height: 52px;
    text-align: center;
    font-size: 140px;
    top: -100px;
    left: 595px;
    right: 14px;
    position: absolute;
    margin-top: 200px;
    background: rgba(77, 75, 75, 0.388);
    color: seashell;
}
.main {
    padding: 20px;
    width: 20%;
    margin: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-left: 95px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.707);

}
.user {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.395);
    margin-bottom: 10px;
    border-radius: 20px;
}

.user h4{
    font-size: 20px;
    color: #fdfdfdb8;
    text-align: center;
    font: verdana;
    padding: 10px 20px;
}
.newuser {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.395);
    margin-bottom: 10px;
    border-radius: 20px;  
}
.newuser h4{
    font-size: 20px;
    color: #dad1d1b8;
    text-align: center;
    font: verdana;
    padding: 10px 20px;
}
.registro {
    width: 20%;
    margin: 200px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 20px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.707);
}
label{
    font-size: 12px;
    display: block;
    width: 100%;
    color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: rgba(71, 67, 67, 0.252);
    color: blanchedalmond;
}

input :focus{
    border: 1px solid #1668c4;
}

button {
    margin-bottom: 0;
    background:#1667c478;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    width: 100%;
}

button:hover{
    background:#1668c4 ;
    cursor: pointer;
}